title {
    color:orchid;
}
#welcome {
    text-align: center;
    color:teal;
}
.intro{ 
    color:pink;

}
#links{
    color:pink;
}

#motivation{ 
    font-size:xx-large;
    color:pink;
}
#heading{
    text-align: center;
    color:teal;
}
.borders th, td{
    border: 2px solid black;
    border-collapse: collapse;
}
#love{
    color:pink; 
}
#hobs{
    font-size: xx-large;
    color:teal;
    text-align: center;
}
#hobsss{
    font-size:xx-large;
    color:pink;
}
#note{
    color: pink;
}
#skill{
    font-size: x-large;
    color:pink
}
.contact{
    color:pink;
    font-size: large;
}
#thanks{
    color: pink;
}
#make{
    color:teal
}
body{
    background-color:rgb(95, 160, 151);
}
/* Unvisited link */
a:link{
    color: darkred;
}
/*Visited link  */
a:visited{
    color:green;
}
/* Mouse over link */
a:hover{
    color: orange;
}
/*  selected link*/

a:active {

    color:aquamarine;
}
.fa-envelope{
    font-size: 150%;
}
.fa-instagram{
    font-size: 150%;
    
}
